*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    height: 50px;
    width: 100vw;
}

.minnav{
    margin: 10px;
    /* debug */
    height: 30px;
    width: 30vw;
}

.spanNAV{
    margin-left: 10px;
}

.logo{
    width: 70px;
}

.bottone{
    text-align: center;
    padding: 5px;
    margin: 10px;
    color: white;
    background-color: rgb(34, 102, 196);
}

.Up{
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    width: 100vw;
    height: 200px;
}

.n1U{
    background-color: rgb(173, 203, 230);
}

#BigTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

h1{
    font-size: 60px;
}

.Down{
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    width: 100vw;
    height: 300px;
}

.n1D{
    background-color: rgb(173, 203, 230);
}

.paragrafo{
    /* debug */
    width: 25%;
    height: 250px;
}

.fa-arrow-down{
    margin: 10px;
    font-size: 40px;
}

.immagine{
    width: 35%;
    min-height: 300px;
}

#Jumbooimg{
    width: 500px;
}

.n2U{

    width: 100vw;
    height: 100px;
}

h2{
    margin-top: 5%;
    margin-right: 15%;
    font-size: 2rem;
}

.n2D{
    align-items: flex-start;
    height: 650px;
    width: 100%;

}

.colonna{
    /* debug */
    margin: 15px;
    width: 17%;
    height: 600px;
    background-color: white;
    border: 1px solid rgb(198, 198, 198);
}


.team{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(198, 198, 198);
    /* debug */
    height: 30px;
    /* width: 50%; */
    margin-bottom: -20px;
}


.teamS2{
    width: 100%;
}

.lista{
    margin-top: 20px;
    margin: 10px;
}

.li, .S2B{
    margin-top: 20px;
    margin-bottom: 20px;
}

i{
    
}

.fa-check{
    color: blue;
    margin-right: 10px;
}

.hrS2{
    width: 30%;
}

.n3U{
    background-color: white;
    padding-top: 20px;
    max-height: 50px;
}

.teamS3{
    width: 50%;
}

.Mid{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* debug */
    width: 100%;
    height: 100px;
}


#midi{
    /* margin-top: -10px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* debug */
    min-height: 100px;
    width: 50%;
}

.Mh2, .par{
    margin: 10px;
}

.n3D{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: flex-start;
    /* debug */
}

.p3{
    width: 50%;
    height: 40px;
    text-align: left;
    /* debug */
}

#par3{
    margin-left: 10px;
    width: 70%;
}

#sezione4{
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    min-height: 500px;
}

.n4{
    height: 300px;
}

.imgS4{
    width: 30%;
}

#partenerimg{
    max-width: 100%;
}

.b4{
    margin-top:20px;
    padding: 5px;
    padding-right: 2px;
    width: 40%;
    color: gray;
    background-color: white;
    border: 1px solid gray;
}

.n5U{
    margin-top: 0%;
    height: 100px;
    background-color: white;
    /* background-color:  antiquewhite; */
}

.S5{
    margin-left: 80px;
    background-color: white;
}

.riga{
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    /* min-height: 420px;
    background-color: antiquewhite; */
}

.colonnaS5{
    height: 400px;
}

.pS5{
    margin-left: 10px;
}

.featureIMG{
    width: 100%;
}

h3{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.n6U{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* debug */
    max-height: 100px;
    background-color: white;
}

#US6{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
}

.subS6{
    width: 70%;
    /* margin-left: 100px; */
}

#link{
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    max-height: 40px;
    background-color: white;
}

a{
    width: 50%;
}

.rigaS6{
    height: 600px;
}

.lato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin: 0;
    max-height: 400px;
    width: 35%;
    border: transparent;
}

.centro{
    margin-top: 50px;
    margin: 0;
    max-height: 400px;
    width: 30%;
    border: transparent;
    background-color: rgb(240, 240, 240);
}

.C1, .C2{
    margin: 0%;
    width: 50%;
    height: 100%;
    background-color: lightgoldenrodyellow;
    border: transparent;
}

.sqr{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0%;
    width: 100%;
    height: 50%;
    background-color: lightcyan;
}

.foto{
    width: 50%;
}

.f1{
    background-color: rgb(106, 171, 106);
}

.f2{
    background-color: deepskyblue;
}

.f3{
    background-color: brown;
}

.f4, .f5{
    background-color: red;
}

.f6{
    background-color: rgb(7, 52, 137);
}

.f7{
    background-color: lightsteelblue;
}

.f8{
    background-color: rgb(244, 207, 60);
}

.centrofoto, .centropar{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.S6D{
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: lightsteelblue;
}

.S6{
    width: 70%;
    color: rgb(77, 1, 39);
}

.S6B{
    color: gray;
    width: 180px;
    background-color: white;
    border: 1px solid gray;
}

#sezione7{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 300px;
}

.FAQ{
    margin: 10px;
    width: 50%;
}

#FAQh2{
    margin-bottom: 20px;
}

.domanda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

footer{
    color: white;
    background-color: black;
}

.footUp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
}

.footriga{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}


.footCOL{
    background-color: black;
    height: 100px;
}


.footDown{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: white;
    background-color: black;
}

#hrfoot{
    width: 80px;
}

#footD{
    width: 70%;
    height: 100px;
    background-color: white;
    background-color: black;
}

#lingua{
    padding-top: 20px;
}